.users-container-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.student-title-form {
    font-size: 1.2em;
    margin: 20px 0 10px;
    text-transform: uppercase;
}