header {
  margin: 10px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

header h1 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 small {
  font-size: 0.7em;
  font-weight: normal;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--link-color);
  font-weight: normal;
}

header nav ul li a.active {
  color: #000000;
  font-weight: bolder;
  text-decoration: underline;
}

@media (min-width: 768px) {
  header {
    margin: 20px auto 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  header h1 {
    display: block;
  }

  header h1 small {
    margin-left: 20px;
  }
}
